
*.log
*.cmake
*.check_cache
*.txt
*.make
*.exe
*.bin
*.xml
.idea/.name
*.iml
*.cbp
*.obj
*.rsp
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
*.ilk
*.pdb
*.includecache
*.internal
*.manifest
*.rc
*.res
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
# Ignore .yy files (for GMS 2 projects)
*.yy linguist-vendored