
*.log
*.cmake
*.check_cache
*.txt
*.make
*.exe
*.bin
*.xml
.idea/.name
*.iml
*.cbp
*.obj
*.rsp
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
